.popup__close {
  width: 1.8em;
  height: 1.3em;
  font-size: 16px;

  position: absolute;
  top: -1.9em;
  right: 0;  
}

.popup__close:before, .popup__close:after {
  width: 1.8em;
  height: 0.3em;
}

@media (max-width: 480px) {
  .popup__close {
    font-size: 12px;
  }
}